@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    background-color: #F8F8F8 !important;
}

/* Hide the scrollbar for elements with specific classes */
.overflow-x-auto::-webkit-scrollbar,
.overflow-y-auto::-webkit-scrollbar {
    width: 0rem;
    /* Adjust the width as needed */
}

.overflow-x-auto::-webkit-scrollbar-thumb,
.overflow-y-auto::-webkit-scrollbar-thumb {}


[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

.form-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-shrink: 0;
    color: currentColor;
    background-color: #fff;
    border-color: #bfc0c2;
    border-width: 1px;
    border-radius: 1rem;
    height: 1.2em;
    width: 1.2em;
}

.form-checkbox:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}



/* width */
::-webkit-scrollbar {
    width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7e8590;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.customer_divide {
    height: 3px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #F3F4F6;
}

.customer_divide_of_element {
    height: 4px;
    flex-shrink: 0;
    background-color: #5F38CA;
}

.rounded-border {
    border-radius: 16px;
    border: 1px solid #F1F2F4;
}

.sub-heading {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal; 
    line-height: 160%;
    /* 28.8px */
    letter-spacing: 0.2px;
}

.table-th-title {
    color: #687588;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.2px;
    padding: 6px 0px;
}

.table-td-title {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    /* 24px */
    letter-spacing: 0.2px;
    padding: 6px 0px;
}

.star {
    color: #EB001B;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: -0.24px
}

.label_class {
    @apply text-[#000] text-[17px] font-medium not-italic leading-[38px]
}

.input_border_user {
    @apply py-2 px-3 border rounded-xl
}

.user_profile {
    @apply text-[#111827] ml-2 rounded-lg text-[14px] not-italic font-medium leading-[22px]
}

.user_profile_down {
    @apply text-[#687588] text-[12px] font-normal not-italic leading-[19px] text-left
}

.user_profile_down_bold {
    @apply text-[#111827] text-[14px] font-semibold not-italic leading-[22px] text-left
}

.footer_link {
    @apply text-[#000] text-[15px] not-italic font-bold leading-[18px]
}

.footer_copyright {
    @apply text-[#747A80] text-[15px] not-italic font-medium leading-[18px]
}

.form_input {
    @apply py-1 w-full outline-none
}

.file_border {
    border-radius: 11.599px;
    border: 1.16px dashed #000;
    opacity: 0.5;
    background: #F5F7FA;
}